@model IEnumerable<E_Tickets.Models.CinemaRequest>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1 class="text-center text-primary"><b>Request Cinemas</b></h1>
    <p class="text-end">
        <a asp-action="CreateNewRequest" class="btn btn-primary btn-sm">Create New</a>
    </p>
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Status</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Description)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Address)</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @if (item.status == "pending")
                        {
                            <span class="badge bg-primary">@item.status</span>
                        }
                        else if (item.status == "rejected")
                        {
                            <span class="badge bg-danger">@item.status</span>
                        }
                        else
                        {
                            <span class="badge bg-success">@item.status</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td class="text-center">
                        @if (item.status == "pending")
                        {
                            <a href="/RequestCinema/AcceptRequest?cinemaId=@item.Id"  class="btn btn-success btn-sm">Accept</a>
                            <a href="/RequestCinema/RejectRequest?cinemaId=@item.Id"  class="btn btn-danger btn-sm">Reject</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
